html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    margin: 0;
}

*
{
    box-sizing: inherit;
}
body
{
    margin: 0;
    /* background-color: black; */
}
.app
{
    width: 100%;
    height: auto;
    max-width: calc(100%-20px);
    margin: 0 auto;
    
}
.header
{
    display: flex;
    width: 100%;
    top: 0;right: 0;left: 0;z-index: 10;
    
}
.grid
{
    display: block;
    padding: 0;
}
.header__navbar
{
    box-sizing: border-box;
    width: 100%;
    height: 75px !important;
    display: flex;
}
.header__navbar-list
{   
    width: 40%;
    height: 70px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin-left: 10px;
   
}
.header__navbar-list-item
{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar-item__activated::after{
    content: "";
    position: absolute;
    top: -99%;
    left: calc(20% - 35px);
    right: 0px;
    height: 91px;
    width: 120px;
    background-color: #CEA69D;
    z-index: -1;
}
.header__navbar-item
{   
    width: 50px;
    height: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: 550;
}
#header__navbar-item--1, #header__navbar-item--2, #header__navbar-item--3, #header__navbar-item--4
{   
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.header__navbar-list
{
    padding: 0;
    width: 40%;
}
.header__navbar-item:hover
{
    cursor: pointer;
    color: rgba(71, 10, 71, 0.865);
    font-weight: bold;
    background-color: #A56541;
}
.header__navbar-vinyl
{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
.header__navbar-vinyl:hover
{
    cursor: pointer;
}
.header__navbar-vinyl-dist
{
    width: 38px; height: 38px;
}
#header__navbar-vinyl--return{
    text-decoration: none;
    color: #000;
}
.header__navbar-icon
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header__navbar-icon--child
{
    width: 25px;height: 25px;
}
.header__navbar-icon--child:hover
{
    cursor: pointer;
}
.header__navbar-register
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header__navbar-register-button
{
    border-radius: 24px;
    font-size: 1.2rem;
    width: 103px;height: 48px;
}
.header__navbar-register-button:hover{
    cursor: pointer;
    background-color: #CEA69D;
    color: #FFFFFF;
}
.header__navbar-register-button:active{
    cursor: pointer;
    animation-name: login-effect;
    animation-duration: 1s;
    animation-timing-function:ease;
}
/* .container {
    
} */

.container__1 {
    width: 100%;height: auto;
    background: #A56541;
}

.container__1-text {
    font-style: normal;
    font-weight: 1000;
    font-size: 3.125rem;
    line-height: 4rem;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    padding-top: 20px;
}
.container__1-box{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.container__1-box-child{
    /* display: flex;
    flex-direction: column; */
    /* width: 30%; */
    padding: 200px 50px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.4rem;
}
.container__1-box--singer{
    font-weight: 700;
    padding-bottom: 10px;
}
.container__1-box--album{
    font-weight: 200;
}
.container__1-box--buy{
    color: #000;
    font-size: large;
    font-weight: 1000;
    background-color: #fffa;
    border: 2px solid #FFFFFF;
    border-radius: 200px;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
}
.container__1-box--buy:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 4px 4px 6px brown;
}

.container__1-box__content{
    /* position: relative;; */
    display: flex;
    width: 70%;
    padding: 0 200px;
    justify-content: center;
}
.container__1-famyly-pic{
    width: 100%;
    /* background: url(image.png); */
    /* position: absolute; */
    /* z-index: 5; */
    
}
.container__1-disc-pic{
    width: 80%;
    left: 50%;
    top: 8%;
    /* position: absolute; */
    /* background: url(.png); */
}
.container__2and3{
    background: linear-gradient(180deg, #E8C0B7, #C4887B, #E8C1B8, #ECDBD5);
}
/*Container__2*/
.container__2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.container__2-text{
    color: white;
    width: 40%;
}
.container__2-title{
    margin-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 73px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: 'Indigo Moon';
}
.container__2-content{
    display: flex;
    text-align: left;
    font-style: normal;
    padding: 20px;
    font-family: 'Montserrat';
}
.container__2-question{
    color: #000;
    padding: 5px auto;
}
/* .container__2 {
    width: 100%;
    background: linear-gradient(180deg, #E8C0B7 0%, #C4887B 19.27%, #E8C1B8 55.21%, #ECDBD5 100%);
    border-radius: 20px 20px 0px 0px;
}

.text {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 300px;
    position: absolute;
    margin-top: 100px;
    
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 73px;
    display: flex;
    align-items: center;
    
}

.content {
    font-style: normal;
    font-size: 10px;
    padding: 20px;
    margin-left: 60px;
}

.question {
    color: #000;
}

.human {
    width: 300px;
    position: absolute;
    margin-left: 540px;
    margin-top: -300px;
} */

/* container__3*/

.container__3 {
    width: 100%;
    text-align: center;
    font-family: 'Climate Crisis';
    font-size: 2rem;
    font-weight:1000;
    margin: 20px auto;
    color: #FFF;
}
.container__5{
    display: flex;
    justify-content: space-around;
}
/* .container__3-title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;

    margin-top: 20px;
    margin-left: 70px;
}

.item_1 {
    width: 100%;
    margin-top: 30px;
}

.item_2 {
    width: 100%;
    margin-top: 30px;
}

.display {
    position: absolute;
    width: 150px;
    margin-left: 95px;
    margin-top: 25px;
}

.pages {
    position: absolute;
    width: 100px;
    height: 40px;
    margin-left: 1315px;
    margin-top: 35px;
} */
/* .footer {
    
} */
.footer
{
    /* background-color: #CEA69D; */
}

.footer__group
{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    left: 148px;top:40px;
    width: 100%;
}
.footer__group-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__group-2{
    width: 22%;
}
.footer__group-3{
    width: 26.75%;
}
.footer__font
{
    color: #fff;
}
.footer__group-line
{
    background-color: #fff;height: 1px; margin: 10px 0;
}
.footer__child
{
    display: flex; justify-content: space-between; margin-bottom: 10px;
}

  /*PC*/
  @media (min-width:1024px){
    
  }
  
  /*Tablet*/
  @media (min-width:780px) and (max-width: 1023px){
      
  }
  
  /*Mobile*/
  @media(max-width:779px){
    .container__2-text{
        width: 90%;
    }
    .container__2-human{
        width: 90%;
    }
    .container__1-box-child{
        padding: 0;
        font-size: 0.8rem;
    }
  }
  