/*
    Write container index2 here
*/
.container__p2{
}
.container__p2__1{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CEA69D;
    height: 261px;
}
.container__p2__1-item1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: 1000;
    padding-top: 20px;
}
.container__p2__1-item2{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container__p2__1-item3{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container__p2__2{
    width: 100%;
}
.container__p2__2-item1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    padding-top: 30px;
    font-size: 1.4rem;
}
.container__p2__2-item2{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.container__p2__1-item3{
    display: flex;
    flex-wrap: wrap;
}
.container__p2__3{
    display: flex;
    flex-direction: column;
}
.container__p2__3-tutorial--text{
    padding: 25px 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 1.4rem;
}
.container__p2__3-tutorial--box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.container__p2__3-choosingthephonograph{

}
.container__p2__3-choosingshop--text{
    font-size: 1.4rem;
    padding: 25px 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}
.container__p2__3-choosingshop--box{
    display: flex;
    justify-content: space-around;
    background-color: #EBDADA;
    /* padding: 0 70px; */
    margin: 0 70px;
}