body, html {
    margin: 0;
}

*
{
    box-sizing: inherit;
}
body
{
    margin: 0;
}
.app
{
    width: 1200px;
    max-width: calc(100%-20px);
    margin: 0 auto;
    /* background-color: #A78D67; */
}
.header
{
    display: block;
    width: 100%;
    height: 90px;
    position: relative;
    top: 0;right: 0;left: 0;z-index: 10;
    /* background-color: #CAB7A2; */
}
.grid
{
    display: block;
    padding: 0;
}
.header__navbar
{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__navbar-list
{
    display: flex;
    justify-content:space-around;
    list-style: none;
}
.header__navbar-list-item
{
    padding: 0;
    width: 40%;
}
.header__navbar-item
{
    font-weight: bold;font-size: 1.1 rem;font-family: Arial, Helvetica, sans-serif;
}
#header__navbar-item--1, #header__navbar-item--2, #header__navbar-item--3, #header__navbar-item--4
{
    text-decoration: none;
    position: relative;
    color: black;
}
.header__navbar-item__activated::after{
    content: "";
    position: absolute;
    top: -99%;
    left: calc(20% - 30px);
    right: 0px;
    height: 89px;
    width: 120px;
    background-color: #A56541;
    z-index: -1;
}

.header__navbar-list
{
    padding: 0;
    width: 40%;
}
.header__navbar-item:hover
{
    cursor: pointer;
    color: rgba(71, 10, 71, 0.865);
    font-weight: bold;
}
.header__navbar-vinyl
{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
#header__navbar-vinyl--return
{
    text-decoration: none;
    color: black;
}
.header__navbar-vinyl:hover
{
    cursor: pointer;
}
.header__navbar-vinyl-dist
{
    width: 38px; height: 38px;
}
.header__navbar-icon
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header__navbar-icon--child
{
    width: 25px;height: 25px;
}
.header__navbar-icon--child:hover
{
    cursor: pointer;
}
.header__navbar-register
{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header__navbar-register-button
{
    border-radius: 24px;
    font-size: 1.2rem;
    width: 103px;height: 48px;
}
.header__navbar-register-button:hover{
    cursor: pointer;
    background-color: #CEA69D;
    color: #FFFFFF;
}
.header__navbar-register-button:active{
    cursor: pointer;
    animation-name: login-effect;
    animation-duration: 1s;
    animation-timing-function:ease;
}
/* .container {
    
} */

.container__1 {
    width: 80%;
    height: 890px;
    left: 0px;
    top: 0px;
    background: #A56541;
    position: relative;
    margin-left: 10%;
}

.container__title {
    width: 746px;
    height: 133px;
    left: 347px;
    top: 77px;
    margin-left: 20%;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: #FFFFFF;
}



/* .footer {
    
} */
.footer
{
    display: block;
    bottom: 0;left: 0;
    /* background-color: #CEA69D; */
}

.footer-content{
    padding: 40px 0;
}
.footer__group
{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 11.67%;top:20.65%;
    height: 59.5%; width: 81.39%;
}
.footer__group-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14.5%;
    flex-shrink: 1;
}
.footer__font
{
    font-family: Arial, Helvetica, sans-serif;color: #fff;
}
.footer__group-line
{
    background-color: #fff;height: 1px; margin: 10px 0;
}
.footer__child
{
    display: flex; justify-content: space-between; margin-bottom: 10px;
}